*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  /* align-items: center;
  text-align: center; */
}

body{
  background-color: rgba(0, 0, 0, 0.788);
  color: rgb(255, 255, 255);
}

.container{
  margin: 12%;
  width: 90%;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.display{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 26px 20px;
  border-radius: 20px;
}

/* .h1{
  font-size: 100%;
} */

.container h1{
  font-weight: 500;
  font-size: 45px;
  border-left: 4px solid  rgb(255, 255, 85);
  padding-left: 7px;
  /* width: 100%; */
}

.container h1 span{
  font-size: 70px;
  color: rgb(100, 253, 123);
  text-shadow: 1px 5px 10px  rgb(255, 255, 85);

}

#message{
  font-size: 15px;
  position: relative;
  bottom: 5px;
  margin-left: 15px;
  display: none;
}

.display img{
  width: 30px;
  cursor: pointer;  
}

.display input{
  border: 0;
  outline: 0;
  /* border-radius: 25px; */
  font-size: 20px;
  /* text-align: center; */
  width: 80%;
  
}

.container button img{
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
  /* background:  rgb(239, 174, 63); */
  border-radius: 5px;
}

.container button{
  border: 0;
  background: rgb(239, 174, 63);
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 24px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  cursor: pointer;
  font-weight: 300;
  
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* margin-right: 50px; */
  justify-content: space-around;
}
